[submodule "Engine/Vendor/glfw"]
	path = Engine/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/Vendor/glad"]
	path = Engine/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "Engine/Vendor/stb"]
	path = Engine/Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/Vendor/glm"]
	path = Engine/Vendor/glm
	url = https://github.com/Groovounet/glm.git
[submodule "Engine/Vendor/imgui"]
	path = Engine/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/Vendor/assimp"]
	path = Engine/Vendor/assimp
	url = https://github.com/assimp/assimp.git
