[submodule "Engine/Vendor/glfw"]
	path = Engine/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/Vendor/glad"]
	path = Engine/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
